/* * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Nunito Sans', sans-serif;
}
main {
  display: flex;
}
.store-list {
  width: 25%;
  height: 100vh;
  overflow: auto;
  background: whitesmoke;
} */
#map {
  height: 80vh;
  width: 100wh;
}
